certifi==2017.7.27.1
chardet==3.0.4
-e git+https://github.com/alsobrsp/discogs_client.git@bd9e70d61d6846b7bdab2e84bb7f0708d05cdedb#egg=discogs_client
idna==2.5
oauthlib==2.0.2
ordereddict==1.1
pkg-resources==0.0.0
requests==2.18.3
six==1.10.0
urllib3==1.22
WooCommerce==1.2.1
